<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>편의시설사이트</title>


    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/hanna.css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container" style = "font-family:'Hanna',serif;">

        <div class="row">

            <div class="col-lg-12" >
                <h1 class="page-header" text align="center" style = "font-size:55px;">인하의<br>편리한 시설</h1>
                <h6 class="page-explain" text align="center" style = "margin-bottom:20px; font-size:18px;">처음가는 건물에서<br>헤매지 마세요!</h6>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/typewrite/2" method ="get">
                    <img class="img-responsive" src='<%= image_path("bed1.png")%>' alt=""><br>
                    <p text align="center" style = "font-size:26px;">남휴ㆍ여휴</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/typewrite/5" method ="get">
                    <img class="img-responsive" src="<%= image_path("printer.png")%>" alt=""><br>
                    <p text align="center" style = "font-size:26px;">인쇄소</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/typewrite/4" method ="get">
                    <img class="img-responsive" src="<%= image_path("study.png")%>" alt=""><br>
                    <p text align="center" style = "font-size:26px;">스터디룸</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/typewrite/6" method ="get">
                    <img class="img-responsive" src="<%= image_path("shower.png")%>" alt=""><br>
                    <p text align="center" style = "font-size:26px;">체육관/샤워실</p>
                </a>
            </div>


            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/1" method ="get">
                    <p text align="center" style = "font-size:26px;">1호관(본관)</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/2" method ="get">
                    <p text align="center" style = "font-size:26px;">2호관</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/3" method ="get">
                    <p text align="center" style = "font-size:26px;">4호관</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/4" method ="get">
                    <p text align="center" style = "font-size:26px;">5호관</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/5" method ="get">
                    <p text align="center" style = "font-size:26px;">6호관</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/6" method ="get">
                    <p text align="center" style = "font-size:26px;">7호관</p>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/7" method ="get">
                    <p text align="center" style = "font-size:26px;">C호관</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/8" method ="get">
                    <p text align="center" style = "font-size:26px;">9호관</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/9" method ="get">
                    <p text align="center" style = "font-size:26px;">60주년기념관</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/10" method ="get">
                    <p text align="center" style = "font-size:26px;">하이테크센터</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/11" method ="get">
                    <p text align="center" style = "font-size:26px;">정석도서관</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/12" method ="get">
                    <p text align="center" style = "font-size:26px;">학생회관</p>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/13" method ="get">
                    <p text align="center" style = "font-size:26px;">서호관</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/14" method ="get">
                    <p text align="center" style = "font-size:26px;">나빌레관</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/15" method ="get">
                    <p text align="center" style = "font-size:26px;">로스쿨관</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/16" method ="get">
                    <p text align="center" style = "font-size:26px;">학군단</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/17" method ="get">
                    <p text align="center" style = "font-size:26px;">평생교육원</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/write/18" method ="get">
                    <p text align="center" style = "font-size:26px;">기타</p>
                </a>
            </div>
            <hr>

            <div class="google-maps" test align ="center">
              <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDuha3EGz9gAU_HPKUbqUDCeXLMU_wkXNQ'></script><div style='overflow:hidden;height:300px;width:300px;'><div id='gmap_canvas' style='height:300px;width:400px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div> <a href='https://addmap.net/'>google maps iframe embed</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=5cd4442957d7489cd265a1163bdbd66011c1bf4f'></script><script type='text/javascript'>function init_map(){var myOptions = {zoom:17,center:new google.maps.LatLng(37.45027762311752,126.65361674603264),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(37.45027762311752,126.65361674603264)});infowindow = new google.maps.InfoWindow({content:'<strong>인하대학교</strong><br>남구 인하로 100<br> Incheon<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>

              <p>22212 인천광역시 남구 인하로 100, 대표전화 : 032-860-7114</p>
            </div>
        </div>

        <hr>


        <!-- Footer -->
        <footer class="footer-distributed">

    			<div class="footer-left">
    				<p class="footer-company-name">Hanjung &copy; 2016.07</p>
      			<p class="footer-company-name">Inha computer Science | CTP | Likelion 4th</p>
            <p class="footer-company-name">강호형 감사합니다!</p>
    				<div class="footer-icons">
    					<a href="https://www.facebook.com/profile.php?id=100005573837145&ref=bookmarks"><img class="img-responsive img-center" src="<%= image_path("facebook.png")%>" alt="Responsive image" width="50" height="50"></a>
              <a href="https://www.instagram.com/hann0ng/"><img class="img-responsive img-center" src="<%= image_path("Instagram-logo.png")%>" alt="Responsive image" width="50" height="50"></a>
              <a href="https://github.com/hanjungv"><img class="img-responsive img-center" src="<%= image_path("git-logo.png") %>" alt="Responsive image" width="50" height="50"></a>
    				</div>

    			</div>

    			<div class="footer-right">
    				<p>Contact</p>
    				<form action="/emailsend" method="post">
    					<input type="text" name="emailsender" placeholder="Email" />
    					<textarea name="emailmessage" placeholder="개선사항을 적어서 보내주세요! 큰 힘이 됩니다!"></textarea>
    					<button onclick="alert('소중한 의견 감사합니다!');">Send</button>
    				</form>
    			</div>
    		</footer>
    </div>


    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
